/* All Course Section */
#featured-course {
	margin-bottom: 10px;
}
#featured-course h1 {
	font-size: 50px;
}
#featured-course button {
	background-color: #fff;
	color: #000;
}
#featured-course button:hover {
	background-color: rgba(255,255,255,0.7);
}
.filter {
	margin-left: 10px;
	font-size  : 16px;
	padding    : 7px 10px;
	display    : flex;
	align-items: center;
}
.filter img {
	width: 25px;
}