* {
	margin         : 0;
	padding        : 0;
	text-decoration: none;
	box-sizing     : border-box;
	font-family    : 'Poppins', sans-serif;
}

/* HEADER */
/*----------------------------------------------------*/

header {
	width           : 100%;
	height          : 100vh;
	background-color: #EDF6E5;
}

/* Navbar */
nav {
	width          : 90%;
	height         : 15%;
	margin         : auto;
	display        : flex;
	padding        : 20px 0px;
	justify-content: space-between;
	align-items    : center;
}
.logo {
	width: 150px;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	font-weight: 600;
	padding    : 0 20px;
	color      : #191919;
}
nav ul li:after {
	content         : '';
	width           : 0%;
	height          : 2px;
	background-color: #2FA4FF;
	display         : block;
	margin          : auto;
	transition      : 0.5s;
}
nav ul li:hover::after {
	width: 60%;
}

/* Header Button */
button, .button {
	padding         : 10px 30px;
	background-color: #2FA4FF;
	font-weight     : 600;
	color           : #fff;
	border-radius   : 10px;
	border          : none;
	box-shadow      : 1px 2px 5px rgba(0,0,0,0.2);
	cursor          : pointer;
}
button:hover, .button:hover {
	background-color: #3498FF;
}
nav #login-button {
	margin-right    : 10px;
	margin-left     : 20px;
	background-color: #fff;
	color           : #2FA4FF;
}
nav #login-button:hover {
	background-color: #F6F6F6;
}

/* Header Description */
.header-box {
	width  : 90%;
	height : 85%;
	margin : auto;
	display: flex;
}
.text-box {
	margin: auto;
	width : 100%;
}
.text-box button {
	margin-top: 15px;
}
.text-box h1 {
	font-size  : 60px;
	font-weight: 600;
}

/* MAIN */
/*----------------------------------------------------*/
main {
	background-color: #ECECEC;
	padding         : 50px 0;
}
main #view {
	width          : 100%;
	display        : flex;
	justify-content: center;
	margin-top     : 20px;
}

/* Section setting */
section {
	width        : 90%;
	margin       : auto;
	margin-bottom: 100px;
}
section h1 {
	text-align   : center;
	margin-bottom: 15px;
	font-size    : 36px;
	font-weight  : 600;
}

/* Card (row & col) */
.cards {
	display        : flex;
	justify-content: space-around;
	align-items    : center;
}
.card {
	width           : 95%;
	margin          : auto;
	background-color: #fff;
	color           : #000;
	border-radius   : 10px;
	box-shadow      : 1px 2px 5px rgba(0,0,0,0.3);
}

/* 'Trusted by' Section */
#trusted {
	margin-bottom: 20px;
}
#trusted h1, #partner h1 {
	margin-bottom: 30px;
	font-size    : 24px;
	font-weight  : 400;
}
#trusted .brand {
	width: 10%;
}
#trusted #brand4 {
	width: 8%;
}

/* 'Our Partner' Section */
#partner {
	margin-bottom: 80px;
}
#partner img {
	width: 7%;
}
.line {
	display: block;
	height : 2px;
	margin : auto;
}
#partner .line {
	margin-top      : 50px;
	background-color: rgba(0,0,0,0.1);
	width           : 95%;
	box-shadow      : 0px 0px 15px rgba(0,0,0,0.3);
}

/* 'Populer Categories' Section */
#populer-categories h1 {
	text-align: left;
	font-size : 28px;
}
#populer-categories .cards a {
	width  : 100%;
	padding: 0 10px;
}
.category {
	display    : flex;
	align-items: center;
	padding    : 40px 5px;
	height     : 60px;
	font-size  : 15px;
}
.category img {
	width: 30%;
}
.category #design-logo {
	width : 20%;
	margin: 0 15px;
}
.category #cooking-logo {
	width        : 35%;
	margin-bottom: 10px;
}
.category span {
	font-size: 20px;
}
.category:hover {
	background-color: #3498FF;
	color           : #fff;
}
.category:hover img{
	filter: invert(100%);
}

/* 'Featured Courses' Section */
.course {
	margin    : 10px;
	padding   : 10px 10px 0 10px;
	transition: 0.3s;
}
.course:hover {
	background-color: #F6F6F6;
	margin-top      : 5px;
	transition      : 0.3s;
}
.course-img {
	width        : 100%;
	border-radius: 5px;
}
.course-detail {
	width      : 100%;
	display    : flex;
	align-items: center;
}
.filter-button {
	background-color: rgba(9,222,255,0.2);
	padding         : 5px;
	font-weight     : 400;
	box-shadow      : none;
	color           : #000;
}
.filter-button:hover {
	background-color: rgba(9,222,255,0.1);
}
.course-detail p {
	align-self : flex-start;
	width      : 100%;
	color      : #2FA4FF;
	font-weight: 600;
	text-align : right;
}
.course a{
	display      : inline-block;
	color        : #000;
	margin-bottom: 10px;
}
.course-detail .lesson-num {
	width: 50%;
}
.course-detail .lesson-num img {
	width: 12px;
}
.course-detail .member {
	width     : 50%;
	text-align: right;
}
.course-detail .member img {
	width: 17px;
}
.course span {
	display: block;
	height : 10px;
}
.course .line {
	background-color: rgba(9,222,255,0.2);
	width           : 70%;
}
.course-detail .rating {
	width: 90%;
}
.course-detail .rating i {
	margin        : 0 3px;
	padding-bottom: 1px;
}
.course-detail .next-button {
	margin-top: 10px;
	width     : 10%;
}
.next-button img {
	width: 50px;
}
.next-button img:hover {
	filter: drop-shadow(1px 2px 1px rgba(0,0,0,0.15));
}

/* 'Newest Event' Section */
#newest-event {
	display       : flex;
	flex-direction: column;
	align-items   : center;
}
#newest-event h1 {
	margin-bottom: 15px;
	text-align   : left;
}
.event {
	display        : flex;
	align-items    : center;
	justify-content: space-between;
	padding        : 10px;
	margin         : 10px 0;
	transition     : 0.3s;
}
.event:hover {
	background-color: #F6F6F6;
	margin-left     : 5px;
	transition      : 0.3s;
}
.event-img {
	border-radius: 10px;
	width        : 20%;
}
.event-text {
	width: 70%;
}
.event-text-title {
	display    : flex;
	align-items: center;
}
.event-text-title a {
	color: #000;
}
.event-text-title .filter-button {
	margin-left: 10px;
}
.event-text p {
	font-size: 12px;
}
#newest-event #view {
	display        : flex;
	justify-content: flex-end;
	width          : 95%;
}

/* 'Testimonials' Section */
#feedback {
	width        : 80%;
	text-align   : center;
	margin-bottom: 120px;
}
#feedback .cards {
	margin-top: 15px;
}
.feedback-col {
	display         : flex;
	width           : 46%;
	border-radius   : 10px;
	text-align      : left; 
	background-color: #fff;
	padding         : 25px;
}
.feedback-col img {
	height       : 40px;
	margin-left  : 5px;
	margin-right : 30px;
	border-radius: 50%;
}
.feedback-col h3 {
	margin-top: 5px;
	text-align: left;
}
.feedback-col .fa{
	color: #FFD700;
}
.feedback-col .filter-button {
	margin-top: 10px;
}
#feedback #view {
	display        : flex;
	justify-content: flex-end;
	width          : 98%;
}

/* 'Call to Action' Section */
#cta{
	width              : 90%;
	background-image   : linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/cta.jpg);
	background-position: center;
	background-size    : cover;
	border-radius      : 10px;
	text-align         : center;
	padding            : 100px 0; 
	color              : #fff;
}
#cta h1 {
	margin: 0;
}
#cta p {
	margin-bottom: 30px;
}

/* FOOTER */
/*----------------------------------------------------*/
footer{
	padding-top     : 50px;
	padding-bottom  : 20px;
	background-color: #EDF6E5;
}
footer .cards {
	width          : 90%;
	margin         : auto;
}
.footer-col {
	width: 15%;
}
.footer-col .logo {
	width        : 180px;
	margin-bottom: 10px;
}
#award {
	text-align: center;
}
.award-logo {
	display        : flex;
	align-items    : center;
	justify-content: space-between;
}
.award-logo img[src="img/award1.png"] {
	width: 50px;
}
.award-logo img[src="img/award2.svg"] {
	width: 80px;
}
.footer-col a {
	color: #000;
}
.footer-col .icons .fa{
	margin-top  : 15px;
	margin-right: 10px;
}
footer .line {
	margin-top      : 50px;
	margin-bottom   : 20px;
	background-color: rgba(0,0,0,0.1);
	width           : 82%;
}
footer p {
	text-align: center;
	font-size : 12px;
	color     : rgba(0,0,0,0.5);
}