/* Sticky Navbar Setting */
header {
	height    : 100%;
	box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
	top       : 0;
	position  : sticky;
	position  : -webkit-sticky;
}

/* Navigasi */
#box {
	width     : 100%;
	padding   : 10px;
	text-align: center;
}
.next, .before {
	padding  : 5px 10px;
	font-size: 24px;
}